table{
  width: 150px;
  height: 50px;
}
  
.sky{
    background-color: #6495ED;

}

.bulidling{
  background-color: #A9A9A9;
}

.car{
  background-color: #0000FF;
}

.road{
  background-color: #800080;
}

.tree{
  background-color: #32CD32;
}


