table{
  width: 150px;
  height: 100px;
}
  
.sky{
    background-color: #6495ED;

}

.bulidling{
  background-color: #989ba0;
}

.car{
  background-color: #0000FF;
}

.road{
  background-color: #800080;
}

.tree{
  background-color: #32CD32;
}


